<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h4>

      <ul>
        <% @survey.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :placeholder => "Title" %>
  </p>
  <p>
    <%= f.label :end_date, "End in" %>
    <%= f.text_field :end_date, :placeholder => "End Date", :class => "txt-small", :id => "datepicker" %>
    <strong>or</strong>
    <%= f.text_field :end_qty_votes, :placeholder => "Votes quantity", :class => "txt-small" %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 10 %>
  </p>
  <p>
    <%= f.label :style %>
    <%= f.text_field :style %>
  </p>

  <div class="well" id="questions-fields">
    <h3>
      Questions <%= link_to_add_fields "", f, :questions %>
    </h3>
    <%= f.fields_for :questions do |builder| %>
      <%= render "question_fields", :f => builder %>
    <% end %>
  </div>
  <p>
    <%= f.submit  'Submit', :name => "submit" %>
  </p>
<% end %>