<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :tilte %>
      <%= f.text_field :tilte, :placeholder => "Title" %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= f.label :description %>
      <%= f.text_area :description, :cols => 20, :rows => 40 %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= f.label :style %>
      <%= f.text_field :style %>
    </div>
  </div>
  <%= f.fields_for :questions do |builder| %>
    <%= render "question_fields", :f => builder %>
  <% end %>
  <div class="row">
    <div class="small-4 columns">
      <%= f.submit  'Submit', :name => "submit", :class => "button small success" %>
      <%= link_to 'Back', surveys_path, :class => "button small success"  %>
    </div>
  </div>
<% end %>
