<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% @survey.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :placeholder => "Title" %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 10 %>
  </p>
  <p>
    <%= f.label :style %>
    <%= f.text_field :style %>
  </p>

  <div class="well" id="questions-fields">
    <h3>Questions</h3>
    <p><%= link_to_add_fields "Add Option", f, :questions %></p>
    <%= f.fields_for :questions do |builder| %>
      <%= render "question_fields", :f => builder %>
    <% end %>
  </div>
  <p>
    <%= f.submit  'Submit', :name => "submit" %>
  </p>
<% end %>