<div class="panel panel-default">
    <div class="panel-heading">
      Listing surveys
      <div class="panel-heading-action">
        <%= link_to 'New Survey', new_survey_path %>
      </div>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th>Tilte</th>
          <th>Description</th>
          <th>Style</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

      <% @surveys.each do |survey| %>
        <tr>
          <td><%= survey.title %></td>
          <td><%= survey.description %></td>
          <td><%= survey.style %></td>
          <td><%= link_to 'Show', survey %></td>
          <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
          <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </table>
    </div>
</div>


